<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- product -->
<mapper namespace="com.poison.es.service.product.ProductMapper">
    <!-- 结果映射 -->
    <resultMap id="baseResultMap" type="com.poison.es.domain.Product">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="CREATION_TIME" property="creationTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- 表所有字段 -->
    <sql id="allColumns">
        ID, NAME, DESCRIPTION,CREATION_TIME
    </sql>
    <!--查询数据列表-->
    <select id="findAll" resultMap="baseResultMap">
        SELECT ID, NAME, DESCRIPTION, CREATION_TIME FROM product
    </select>
    <!--新增-->
    <insert id="addProduct" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO product (<include refid="allColumns" />)
        VALUES (
        #{id},
        #{name},
        #{description},
        now()
        )
    </insert>
    <!-- 批量查找 -->
    <select id="findByIds" resultMap="baseResultMap" parameterType="list">
        SELECT
        *
        FROM product WHERE ID IN
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>