<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- product -->
<mapper namespace="com.poison.es.service.product.ProductMapper">
    <!-- 结果映射 -->
    <resultMap id="baseResultMap" type="com.poison.es.domain.Product">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="TYPE_ID" property="typeId" jdbcType="INTEGER"/>
        <result column="CREATION_TIME" property="creationTime" jdbcType="TIMESTAMP"/>
        <result column="DELETED" property="deleted" jdbcType="INTEGER"/>
        <result column="PRICE" property="price" jdbcType="DECIMAL"></result>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"></result>
    </resultMap>
    <!-- 表所有字段 -->
    <sql id="allColumns">
        ID, `NAME`, DESCRIPTION, TYPE_ID, CREATION_TIME, DELETED
    </sql>
    <!--查询数据列表-->
    <select id="findAll" resultMap="baseResultMap">
        SELECT ID, NAME, DESCRIPTION, CREATION_TIME FROM product
    </select>
    <!--新增-->
    <insert id="addProduct" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO product (<include refid="allColumns"/>)
        VALUES (
        #{id},
        #{name},
        #{description},
        #{typeId},
        now(),
        0
        )
    </insert>
    <!-- 批量查找 -->
    <select id="findDetailByIdsAndGroupId" resultMap="baseResultMap" parameterType="list">
        SELECT
        p.ID,
        p.`NAME`,
        p.DESCRIPTION,
        p.CREATION_TIME,
        p.TYPE_ID,
        p.DELETED,
        pg.PRICE,
        pg.REMARK
        FROM
        product AS p
        INNER JOIN product_group AS pg ON p.ID = pg.PRODUCT_ID
        WHERE pg.GROUP_ID=#{groupId} AND p.ID IN
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <!--查询数据列表-->
    <select id="findAllShort" resultMap="baseResultMap">
        SELECT ID, NAME, DESCRIPTION FROM product
        WHERE DELETED = 0
    </select>
</mapper>