<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- shop -->
<mapper namespace="com.poison.es.service.shop.ShopMapper">
    <!-- 结果映射 -->
    <resultMap id="baseResultMap" type="com.poison.es.domain.Shop">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="LOGO" property="logo" jdbcType="VARCHAR"/>
        <result column="GROUP_ID" property="groupId" jdbcType="BIGINT"/>
        <result column="CREATION_TIME" property="creationTime" jdbcType="TIMESTAMP"/>
        <result column="DELETED" property="deleted" jdbcType="INTEGER"/>
    </resultMap>
    <!-- 表所有字段 -->
    <sql id="allColumns">
        ID, `NAME`, DESCRIPTION, LOGO, GROUP_ID, CREATION_TIME, DELETED
    </sql>
    <!--新增-->
    <insert id="addShop" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO shop (<include refid="allColumns"/>)
        VALUES (
        #{id},
        #{name},
        #{description},
        #{logo},
        #{groupId},
        now(),
        0
        )
    </insert>
    <!--详情-->
    <select id="findShopById" resultMap="baseResultMap">
        SELECT <include refid="allColumns" />
        FROM shop WHERE ID = #{id}
    </select>
</mapper>