<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- group -->
<mapper namespace="com.poison.es.service.group.GroupMapper">
    <!-- 结果映射 -->
    <resultMap id="baseResultMap" type="com.poison.es.domain.Group">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="CREATION_TIME" property="creationTime" jdbcType="TIMESTAMP"/>
        <result column="DELETED" property="deleted" jdbcType="INTEGER"/>
    </resultMap>
    <!-- 表所有字段 -->
    <sql id="allColumns">
        ID, `NAME`, DESCRIPTION, CREATION_TIME, DELETED
    </sql>

    <!--新增-->
    <insert id="addGroup" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `group` (<include refid="allColumns"/>)
        VALUES (
        #{id},
        #{name},
        #{description},
        now(),
        0
        )
    </insert>
</mapper>